* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
    /* background-color: #fbecde;
    opacity: 0.5; */
}

aside {
    width: 300px;
    height: 100%;
    position: fixed;
    background-color: #4e6a92;
}

nav {
    height: 50px;
    width: 100%;
    background-color: #b9e1b1;
}

#content {
    height: 100%;
    width: 100%;
    padding-left: 300px;
    background-color: rgb(207, 225, 240);
}

/* 导航 */
nav #menu {
    float: right;
    padding-right: 20px;
}

nav ul li {
    float: left;
    padding: 10px;
    list-style: none;
}

nav ul li a {
    color: #555;
    font-size: 15px;
    text-decoration: none;
}

nav ul li a:hover {
    border-bottom: 1px solid;
}