* {
    margin: 0;
    padding: 0;
    border: 0;
}

html, body {
    height: 100%;
    /* background-color: #fbecde;
    opacity: 0.5; */
}

header.homePageHeader{
    width: 100%;
    height: 100vh;
    /*目前先固定，后面看怎么选择图片*/
    background-image: url("https://jsd.012700.xyz/gh/jerryc127/butterfly_cdn@2.1.0/top_img/index.jpg");
    background-position: fixed;
}


nav {
    position: fixed;
    height: 120px;
    width: 100%;
    margin: 0;
    /*导航栏一直在最顶部*/
    z-index: 999;
    opacity: 1;
}

#content {
    height: 100%;
    width: 100%;
    padding-left: 300px;
    background-color: rgb(207, 225, 240);
}

/* 导航 */
nav #menu {
    float: right;
    padding-right: 20px;
}

nav ul li {
    float: left;
    padding: 10px;
    list-style: none;
}

nav ul li a {
    color: #555;
    font-size: 15px;
    text-decoration: none;
}

nav ul li a:hover {
    border-bottom: 1px solid;
}