<!--
    搜索栏
-->
<div id="search">
    <input type="text" class="search-input" placeholder="搜索">
    <i class="fa fa-search"></i>
</div>

<!--
    侧边目录栏
-->

<div id="tree">
    <% site.posts.forEach( function (post) {
        console.log(post.slug)
    }
    )  
    %>

</div>



